body {
    background-color: #000;
    color: rgb(255, 166, 0) !important;
}

.con{
    margin-top: 50px;
}
.banner{
    background-size: cover;
    height: 530px;
    font-size: small;
}

.text-light{
    color: rgb(255, 166, 0) !important;
}


.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1f1f1f; /* Dark card background */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.form-container .btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-container .btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}